
<main id = "monsters_index" >
<h1>Meet the freaks</h1>

<%= form_tag(monsters_path, method: :get) do |form| %>
<%= text_field_tag :query %>
<%= submit_tag "search" %>
    <% end %>


<% @monsters.each do |monster| %>
    
    <div>

    <h2>Name: <%= link_to monster.name, monster_path(monster) %> </h2>
    <h3>HP: <%= monster.hp %> </h3>
    <%= image_tag monster.image_url(:thumb), style: "width: 200px; height: 200px;" %>

    </div>

<% end %>

</main>