<h1>Welcome to the gene splicing lab! Muahahaha</h1>
<% if flash[:alert] %>

<p class = "flash_alert" ><%= flash[:alert] %></p>
<% end %>

<% if @monster.errors.any? %>
<% binding.pry %>
    <h2>Bad Batch Of Genes</h2>
    <ul>
        <% @monster.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>


<div class = "avatar_grid">

    <div class = "avatar_form">
         <%= render 'form' %>
    </div>
    
            <div class = "show_avatar" >
    <canvas id = "my_canvas"  style="border: 1px solid black;" ></canvas>
       </div>
             <% head_1 = Head.find(1) %>   
             <% head_2 = Head.find(2) %>
             <% head_3 = Head.find(3) %>
             <%= image_tag(head_1.image, :class => "avatar_head_1 head hide_img") %>
             <%= image_tag(head_2.image, :class => "avatar_head_2 head hide_img") %>
             <%= image_tag(head_3.image, :class => "avatar_head_3 head hide_img") %>

             <% arms_1 = Arm.find(1) %>
             <% arms_2 = Arm.find(2) %>
             <% arms_3 = Arm.find(3) %>
             <%= image_tag(arms_1.image, :class => "avatar_arms_1 arms hide_img") %>
             <%= image_tag(arms_2.image, :class => "avatar_arms_2 arms hide_img") %>
             <%= image_tag(arms_3.image, :class => "avatar_arms_3 arms hide_img") %>

             <% legs_1 = Leg.find(1) %>
             <% legs_2 = Leg.find(2) %>
             <% legs_3 = Leg.find(3) %>
             <%= image_tag(legs_1.image, :class => "avatar_legs_1 legs hide_img") %>
             <%= image_tag(legs_2.image, :class => "avatar_legs_2 legs hide_img") %>
             <%= image_tag(legs_3.image, :class => "avatar_legs_3 legs hide_img") %>

             <% back_1 = Back.find(1) %>
             <% back_2 = Back.find(2) %>
             <% back_3 = Back.find(3) %>
             <%= image_tag(back_1.image, :class => "avatar_back_1 back hide_img") %>
             <%= image_tag(back_2.image, :class => "avatar_back_2 back hide_img") %>
             <%= image_tag(back_3.image, :class => "avatar_back_3 back hide_img") %>
       
        
       
        
</div>


<div>
<canvas id = "other_canvas" height = "1212" width = "888" style="border: 1px solid green;" ></canvas><br>
<button type = "button" id = "new_btn">new button</button>
</div>
<%= javascript_pack_tag 'monster_new.js' %>
<%= stylesheet_link_tag "monster_new.css" %>