<h1><%= @monster.name.capitalize %></h1>
<h2>HP: <%= @monster.hp %></h2>
<h2>Fast Attack: <%= @monster.fast_attack.name %> damage: <%= @monster.fast_attack.damage_points %> </h2>
<h2>Charged Attack: <%= @monster.charged_attack.name %> damage: <%= @monster.charged_attack.damage_points %> </h2>
<% @monster.specs.each do |spec| %>
<p><%= spec[0].capitalize %>: <%= spec[1] %></p>
<% end %>


<%= link_to "Euthanize", "/monsters/#{@monster.id}/destroy", data: {confirm: "Are you sure you want to kill this creature whom you have frivolously given life to without concern for the moral implications?"} %>



