<main id = "users_show">






<% if user_is_self %>

    <h1><%= @user.name %></h1>
    <h2>Level: <%= @user.level %></h2>
    <h2>EXP: <%= @user.experience_points %></h2>


    <% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
    <% end %>



    <p>Splice some genes in the <%= link_to "Lab",  new_monster_path %></p>
    <% @user.monsters.each do |monster| %>
    <div><%= link_to monster.name.capitalize, monster_path(monster) %> HP: <%= monster.hp %></div>
    <% end %>
    <br>
    
    <p>Battles won <%= @user.battles_won.count %></p>



    <%= link_to "BATTLE", new_user_battle_path(current_user) %>

<% else %>


    <h1><%= @user.name %></h1>
    <h2>Level: <%= @user.level %></h2>

    <% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
    <% end %>



    <% @user.monsters.each do |monster| %>
    <div><%= link_to monster.name.capitalize, monster_path(monster) %> HP: <%= monster.hp %></div>
    <% end %>


<% end %>
</main>