<%= form_tag "/signup" do %>

    <% if @user && @user.errors.any? %>
        <div class="error_messages">
            <h2><%= pluralize(@user.errors.count, "error") %>
            prohibited this account from being saved:</h2>
            <ul>
                 <% @user.errors.full_messages.each do |msg| %>
                 <li><%= msg %></li>
                 <% end %>
            </ul>
        </div>
    <% end %>


    <div class="field">
        <%= label_tag :name %><br>
        <%= text_field_tag :name, @user.try(:name) %>
    </div>

    <div class="field">
        <%= label_tag :email %><br>
        <%= email_field_tag :email, @user.try(:email) %>
    </div>

    <div class="field">
        <%= label_tag :password %><br>
        <%= password_field_tag :password %>
    </div>


    <div class="field">
    <%= label_tag :npc %><br>
    <%= check_box_tag :npc, checked = true %>
    </div>

    <div class="actions"><%= submit_tag "Signup" %></div>

   <% end %>