<h1>New Battle</h1>
<h2>Choose your battle party</h2>
<h3>Recomended battle party: </h3>
<table>
<tr>
<td>Name</td>
<td>HP</td>
<td>Element</td>
</tr>
    <% @battle_party.monsters.each do |m| %>
        <tr>
        <td><%= m.name %></td>
        <td><%= m.hp %></td>
        <td><%= m.element %></td>
        </tr>
    <% end %>
</table>
<%= link_to "Change your battle party", edit_user_battle_party_path(current_user, current_user.battle_party) %>
<%= render 'form', battle: @battle %>





