<h1>Fight</h1>

<h2><%= @player_one.name %> VS. <%= @player_two.name %></h2>
<div class = "grid container">
<% @player_one.battle_party.monsters.each_with_index do |monster, index| %>
    <div class = "item_<%= index %>">
    <p><%= monster.name %></p>
    <p><%= monster.current_hp %></p>
<button type = "button" class = "quick attack" action = <% monster.use_fast_attack(@player_two.battle_party.monsters.first) %> ><%= monster.fast_attack.name %></button>
    </div>
<% end %>
</div>

<div class = "container">
<% @player_two.battle_party.monsters.each_with_index do |monster, index| %>
    <div class = "item_<%= index + 3 %>">
    <p><%= monster.name %></p>
    <p><%= monster.hp %></p>
<button type = "button" class = "quick attack" ><%= monster.fast_attack.name %></button>
    </div>
<% end %>
</div>

    <p hidden id = "playerOneData"><%= @player_one.to_json %></p>
    <p hidden id = "playerOneMonsters"><%= @player_one.battle_party.monsters.to_json %></p>
    <p hidden id = "playerTwoData"><%= @player_two.to_json %></p>
    <p hidden id = "playerTwoMonsters"><%= @player_two.battle_party.monsters.to_json %></p>
<%= javascript_pack_tag 'battles.js' %>
<%= stylesheet_link_tag "battles.css" %>
