

<h1>Fight</h1>


<div class = "grid-container">
<h2 class = "item_1"><%= @player_one.name %> VS. <%= @player_two.name %></h2>
<% @player_one.battle_party.monsters.each_with_index do |monster, index| %>
    <% if index == 0 %>
        <div class = "onesy grid item_<%= index + 2 %> one_tagged_in" >
            <p hidden id = "monster" ><%= monster.to_json %></p>
            <p hidden id = "fast_attack" ><%= monster.fast_attack.to_json %></p>
            <p hidden id = "charged_attack" ><%= monster.charged_attack.to_json %></p>
            <h1 class = "hp monster_<%= index + 1 %>"></h1>
            <p><%= monster.name %></p>
            <button type = "button" class = "quick attack " ><%= monster.fast_attack.name %></button><br>
            <button type = "button" class = "charged attack hide_button" ><%= monster.charged_attack.name %></button>
            <p hidden id = "charger"></p>
            <div id = "my_progress">
            <div id = "my_bar"></div>
        </div>
        </div>
    <% else %>

        <div class = "onesy grid item_<%= index + 2 %>" >
             <p hidden id = "monster" ><%= monster.to_json %></p>
             <p hidden id = "fast_attack" ><%= monster.fast_attack.to_json %></p>
             <p hidden id = "charged_attack" ><%= monster.charged_attack.to_json %></p>
             <h1 class = "hp monster_<%= index + 1 %>"></h1>
             <p><%= monster.name %></p>
             <button type = "button" class = "quick attack hide_button" ><%= monster.fast_attack.name %></button><br>
             <button type = "button" class = "charged attack hide_button" ><%= monster.charged_attack.name %></button>
             <p hidden id = "charger"></p>
             <div id = "my_progress">
             <div id = "my_bar"></div>
         </div>
        </div>
    <% end %>
<% end %>

<% @player_two.battle_party.monsters.each_with_index do |monster, index| %>
    <% if index == 0 %>
        <div class = "twosy grid item_<%= index + 5 %> two_tagged_in" >
             <p hidden id = "monster" ><%= monster.to_json %></p>
             <p hidden id = "fast_attack" ><%= monster.fast_attack.to_json %></p>
             <p hidden id = "charged_attack" ><%= monster.charged_attack.to_json %></p>
             <h1 class = "hp monster_<%= index + 4 %>"></h1>
            <p><%= monster.name %></p>
            <button type = "button" class = "quick attack " ><%= monster.fast_attack.name %></button><br>
            <button type = "button" class = "charged attack hide_button" ><%= monster.charged_attack.name %></button>
            <p hidden id = "charger"></p>
         
        </div>

    <% else %>
        <div class = "twosy grid item_<%= index + 5 %>">
             <p hidden id = "monster" ><%= monster.to_json %></p>
             <p hidden id = "fast_attack" ><%= monster.fast_attack.to_json %></p>
             <p hidden id = "charged_attack" ><%= monster.charged_attack.to_json %></p>
             <h1 class = "hp monster_<%= index + 4 %>"></h1>
            <p><%= monster.name %></p>
            <button type = "button" class = "quick attack hide_button" ><%= monster.fast_attack.name %></button><br>
            <button type = "button" class = "charged attack hide_button" ><%= monster.charged_attack.name %></button>
            <p hidden id = "charger"></p>
        </div>
    <% end %>
<% end %>
</div>

<%= link_to "Leave Battle", "/battles/#{@battle.id}/destroy", class: "destroy" %>

<%= form_for @battle, :url => { :action => "update" },  html: {class: "get_exp hide_button"}  do |f| %>
<%= f.hidden_field :user_won %>
<%= f.submit "Claim Experience Points" %>
<% end %>


<!-- javascript variables -->

<!-- player one -->
    <p hidden id = "playerOneData"><%= @player_one.to_json %></p>


<!-- each monster, there hp and attack -->
    <!-- monster one -->
         <p hidden id = "playerOneMonsterOneHp"><%= @player_one.battle_party.monsters[0].current_hp.to_json %></p>

    <!-- monster two -->
        <p hidden id = "playerOneMonsterTwoHp"><%= @player_one.battle_party.monsters[1].current_hp.to_json %></p>

    <!-- monster three -->   

        <p hidden id = "playerOneMonsterThreeHp"><%= @player_one.battle_party.monsters[2].current_hp.to_json %></p>



<!-- player two -->

    <p hidden id = "playerTwoData"><%= @player_two.to_json %></p>

    
<!-- each monster and there hp and attack -->

<!-- monster one -->
    <p hidden id = "playerTwoMonsterOneHp"><%= @player_two.battle_party.monsters[0].current_hp.to_json %></p>


<!-- monster two -->

    <p hidden id = "playerTwoMonsterTwoHp"><%= @player_two.battle_party.monsters[1].current_hp.to_json %></p>

<!-- monster three -->   


    <p hidden id = "playerTwoMonsterThreeHp"><%= @player_two.battle_party.monsters[2].current_hp.to_json %></p>
    


<%= javascript_pack_tag 'battles.js' %>
<%= stylesheet_link_tag "battles.css" %>
<script></script>
