
<body class = "battles_show">
<h1>Fight</h1>
<h2 class = "item_1"><%= @player_one.name %> VS. <%= @player_two.name %></h2>
<%= form_for @battle, :url => { :action => "update" },  html: {class: "get_exp hide_button"}  do |f| %>
<%= f.hidden_field :user_won %>
<%= f.submit "Claim Experience Points" %>
<% end %>
<%= image_tag("countdown_3", :class => "countdown countdown_3 hide_button ") %>
<%= image_tag("countdown_2", :class => "countdown countdown_2 hide_button ") %>
<%= image_tag("countdown_1", :class => "countdown countdown_1 hide_button ") %>
<%= image_tag("countdown_fight", :class => "countdown countdown_fight hide_button") %>


<div class = "arena">
    <%= image_tag("battle_arena_1.png", :class=> "arena_location") %>

    <%= image_tag("dead_head.png", :class => "dead_head_1 hide_button") %>
    <%= image_tag("dead_head.png", :class => "dead_head_2 hide_button") %>
    <%= image_tag("dead_head.png", :class => "dead_head_3 hide_button") %>



    <div id = "roster_one">
        <% @player_one.battle_party.monsters.each_with_index do |monster, index| %>
        
    
                <div class = "onesy grid item_<%= index + 2 %> available" >
                     <p class = "hide_button"><%= monster.name %></p>

                     <h1 hidden class = "hp monster_<%= index + 1 %> hide_button"></h1>

                     <div id = "my_health">
                        <p id = "my_health_bar"></p>
                     </div>

                     <p hidden id = "charger">0</p>
                     <div id = "my_progress">
                        <p id = "my_bar"></p>
                        <%= image_tag("scifi_beaker.png", :class => "power_flask hide_button") %>
                     </div>

                          <%= image_tag monster.image_url(:large), :class => "monster_image hide_button" %>
                          <%= image_tag monster.image_url(:thumb), :class => "monster_image_thumb" %>

                          <p hidden id = "monster" ><%= monster.to_json %></p>
                          <p hidden id = "fast_attack" ><%= monster.fast_attack.to_json %></p>
                          <p hidden id = "charged_attack" ><%= monster.charged_attack.to_json %></p>




                        
                          
                </div>
    
        <% end %>
    </div>






</div>


<div id = "roster_two" class = "hide_button">
    <% @player_two.battle_party.monsters.each_with_index do |monster, index| %>

 
 
            <div class = "twosy grid item_<%= index + 5 %> available">
                <h1 class = "hp monster_<%= index + 4 %> hide_button"></h1>
                <div id = "bad_health">
                    <p id = "bad_health_bar"></p>
                 </div>
            
                <%= image_tag monster.image_url(:large), :class => "monster_image" %>
                
               
                 <p hidden id = "monster" ><%= monster.to_json %></p>
                 <p hidden id = "fast_attack" ><%= monster.fast_attack.to_json %></p>
                 <p hidden id = "charged_attack" ><%= monster.charged_attack.to_json %></p>
                 
                <p hidden><%= monster.name %></p>
                <button type = "button" class = "quick attack hide_button" ><%= monster.fast_attack.name %></button><br>
                <button type = "button" class = "charged attack hide_button" ><%= monster.charged_attack.name %></button>
                <p hidden id = "charger"></p>
            </div>

            

            <% end %>
    </div>








<%= link_to "Leave Battle", "/battles/#{@battle.id}/destroy", class: "destroy" %>




<div style="height: 250px; position: absolute;"></div>


<!-- javascript variables -->

<!-- player one -->
    <p hidden id = "playerOneData"><%= @player_one.to_json %></p>


<!-- each monster, there hp and attack -->
    <!-- monster one -->
         <p hidden id = "playerOneMonsterOneHp"><%= @player_one.battle_party.monsters[0].current_hp.to_json %></p>

    <!-- monster two -->
        <p hidden id = "playerOneMonsterTwoHp"><%= @player_one.battle_party.monsters[1].current_hp.to_json %></p>

    <!-- monster three -->   

        <p hidden id = "playerOneMonsterThreeHp"><%= @player_one.battle_party.monsters[2].current_hp.to_json %></p>



<!-- player two -->

    <p hidden id = "playerTwoData"><%= @player_two.to_json %></p>

    
<!-- each monster and there hp and attack -->

<!-- monster one -->
    <p hidden id = "playerTwoMonsterOneHp"><%= @player_two.battle_party.monsters[0].current_hp.to_json %></p>


<!-- monster two -->

    <p hidden id = "playerTwoMonsterTwoHp"><%= @player_two.battle_party.monsters[1].current_hp.to_json %></p>

<!-- monster three -->   


    <p hidden id = "playerTwoMonsterThreeHp"><%= @player_two.battle_party.monsters[2].current_hp.to_json %></p>
    


<%= javascript_pack_tag 'battles.js' %>
<%= stylesheet_link_tag "battles.css" %>
<script></script>
</body>
