<!DOCTYPE html>
<html>
  <head>
    <title>Splicer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
  <div>
  <%= link_to "Home", root_path %>
    <% if logged_in? %>
   
      <%= link_to current_user.name, user_path(current_user) %>
      <%= link_to "all monsters", monsters_path %>
      <%= link_to "Lab",  new_monster_path %>
      <%= link_to 'Logout', logout_path, :class => "logout" %>
      
    <% else %>
      <%= link_to "Login", login_path %>
      <%= link_to "Sign up", new_identity_path %>
    <% end %>
    </div>
    <%= yield %>
  </body>
</html>
